// colors
$green:#556f4a;
$red:#8d1b1c;
$pink:#b392a3;
$purple: #5d6584;
$blue:#3f5678;
$grey:#484b50;
$dark-grey:#1f2932;
$black:#111;
$white:#eee;
$white-o:rgba(250, 250, 250, .7);
$black-o:rgba(5, 5, 5, .5);

//font
@font-face {
  font-family: 'slave_only_dreams_to_be_kinRg';
  src: url('../fonts/slave_only_dreams_to_be_king-webfont.woff2') format('woff2'),
  url('../fonts/slave_only_dreams_to_be_king-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'webfontregular';
  src: url('../fonts/joker-webfont.woff2') format('woff2'),
  url('../fonts/joker-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

body {
  margin: 0;
  padding: 0;
  background-color: $dark-grey;
  color: $black;
  font-family: 'Open Sans Condensed', sans-serif;
  overflow-x: hidden;
  background-image: url("../images/background.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  .back-white {
    position: fixed;
    background-color: $white-o;
    width: 100%;
    height: 100vh;
    z-index: -1;
  }

  h1, h2 {
    font-family: 'slave_only_dreams_to_be_kinRg', sans-serif;
  }

  h1, h2, p {
    margin: 0;
  }

  h1 {
    font-size: 6em;
    color: $white;
  }

  h2 {
    font-size: 3em;
    color: $red;
  }

  p {
    font-size: 1.2em;
  }

  a {
    color: $purple;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .joker {
    position: fixed;
    top: 10px;
    right: -10px;
    color: $green;
    font-size: 8.4em;
    font-family: 'webfontregular';
    z-index: 2;
  }

}

header {
  position: fixed;
  top: 0;
  height: 80px;
  line-height: 110px;
  padding-left: 30px;
  text-transform: uppercase;
  z-index: 1;

  .triangle-topleft {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-top: 140px solid $green;
    border-right: 100vw solid transparent;
    z-index: -1;

  }

}
.fix-height-header {
  height: 100px;
  margin-bottom: 60px;
}

.flexbox {
  display: flex;
  justify-content: space-between;
}

section {
  width: calc(100% - 440px);
  margin: 0 30px;

  .title, .generated {
    padding: 30px;
    background-color: $white-o;
  }

  .title {
    position: relative;
    border-bottom: 0;

    &:first-child {
      margin-top: 0;
    }

    button {
      position: absolute;
      top: 15px;
      right: 15px;
      margin-right: 15px;
    }
  }

  .generated {
    margin-bottom: 30px;
  }
}

aside {
  position: fixed;
  top: 0;
  right: 0;
  width: 320px;
  height: 100vh;
  margin-left: 30px;
  padding: 150px 30px 0 30px;
  background-color: $white-o;
  color: $dark-grey;

  .separator {
    height: 1px;
    width: 100%;
    margin: 30px auto;
    background-color: $red;
  }
}

button, .submit {
  display: block;
  margin: 15px auto;
  padding: 5px 20px;
  width: 220px;
  border: 0;
  outline: 0;
  color: $white;
  font-weight: 700;
  text-transform: uppercase;
  background-color: $purple;
  transition: .1s;
  font-size: 1.1em;
  font-family: 'Open Sans Condensed', sans-serif;

  &:hover {
    -ms-transform: rotate(3deg); /* IE 9 */
    -webkit-transform: rotate(3deg); /* Chrome, Safari, Opera */
    transform: rotate(3deg);
  }
}

button:hover, .submit:hover {
  cursor: pointer;
}

form .flexbox {

  div:first-child {
    width: 70%;
    margin-right: 30px;
  }

  div:last-child {
    width: 30%;
    margin: 0;
  }

  div label {
    display: block;
    font-size: .7em;
  }

  div input {
    width: 100%;
    background-color: transparent;
    border: 0;
    outline: 0;
    font-size: 1.7em;
    color: $dark-grey;
    border-bottom: 1px solid $dark-grey;
    font-family: 'Open Sans Condensed', sans-serif;
  }

}

.submit {
  width: 100%;
  font-size: 1.3em;
}


